<html>
  <head>
    <title>Chat</title>
    <style>
      input {
        display: block;
      }
      ul {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <br /><br /><br />
    <br /><br /><br />
    <center>
      <form id="chatbox">
        <input type="text" id="username" placeholder="Username" /><br /><br />
        <textarea id="message"></textarea>
        <br /><br />
        <input type="submit" value="Send" id="send" />
      </form>
    </center>

    <script src="/static/js/chat.js"></script>
  </body>
</html>
